<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Meu Ambiente de Testes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem-vindo ao meu ambiente de testes de lógica de programação</h1>
    <p>Explore as funcionalidades e veja exemplos práticos.</p>

    <div class="button-container">
        <a href="/calculosalario" class="button">1. Cálculo de Salário</a>
        <a href="/valoresinteiros" class="button">2. Valores Inteiros</a>
        <a href="/descontoprodutos" class="button">3. Desconto Produtos</a>
        <a href="/expressaonumerica" class="button">4. Expressão Numérica</a>
        <a href="/placamercosul" class="button">5. Placa Mercosul</a>
        <a href="/sequenciainteiros" class="button">6. Sequência de Inteiros</a>
        <a href="/tituloformatado" class="button">7. Título Formatado</a>
        <a href="/matrizquadrada" class="button">8. Matriz Quadrada</a>
        <a href="/pato" class="button">12. Pato</a>
    </div>

    <footer>
        Desenvolvido por <strong>Lucas Satoshi Cipriano Oikawa</strong>
    </footer>
</body>
</html>