<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Meu Ambiente de Testes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teste_logica.css') }}">
</head>
<body>
    <h1>Bem-vindo ao meu ambiente de testes de programação</h1>
    <p>Selecione o projeto desejado para verificar suas funcionalidades.</p>

    <div class="button-container">
        <a href="/teste_logica/index" class="button">Teste de Lógica de Programação</a>
        <a href="/cabeleleila_leila/index" class="button">Teste Técnico (Cabeleleila Leila)</a>
    </div>

    <footer>
        Desenvolvido por <strong>Lucas Satoshi Cipriano Oikawa</strong>
    </footer>
</body>
</html>